@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,600&family=Inter:wght@300;700&display=swap');


body{
  overflow-x: hidden;
  font-family: "exo";
}
a{
  text-decoration: none;
}
#myVideo {
    right: 0;
    bottom: 0;
    width: 100%;
  }
  #backround{
    width: 100%;
  }
  .btn{
    margin-top: 1%;
    border: solid rgb(226, 94, 45);
    box-shadow: 0 0px 10px rgb(226, 94, 45);
    color: rgb(226, 94, 45);
    position: absolute;
    z-index: 1;
    margin-right: 18vh;
    background: transparent;
  }
  .btn:hover{
    scale: 1.1;
    color: #fff;
    transition: 250ms;
  }
  .btn2{
    margin-top: 1%;
    width: 4rem;
    text-align: center;
    border: solid rgb(226, 94, 45);
    box-shadow: 0 0px 10px rgb(226, 94, 45);
    color: rgb(226, 94, 45);
    position: absolute;
    z-index: 1;
    background: transparent;
    padding-inline: 4vh;
    margin-right: 1rem;
  }
  .btn2:hover{
    scale: 1.1;
    color: #fff;
    transition: 250ms;
  }
  header{
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .description{
    position: absolute;
    width: 100%;
    display: flex;
  }
  .descriptionDetails{
    width: 25%;
    border: solid #dd4f1b;
    box-shadow: 0 0px 10px #dd4f1b;
    border-radius: 10px;
    margin-top: 20%;
    margin-left: 10%;
    font-size: 2vw;
    background-color: #3d3a3a;
    padding: 1%;
  }
  .language{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2%;

  }
  h1{
    position: absolute;
    margin-right: 60%;
    margin-top: 5%;
  }
  .jsLogo{
    width: 18%;
    border-radius: 10px;
  }
  .nodeLogo{
    width: 18%;
    border-radius: 10px;
    margin-left: 4%;
  }
  .reactLogo{
    width: 18%;
    border-radius: 10px;
    margin-left: 4%;
  }
  .textColor{
    color: #dd4f1b;
  }
  .subTitle{
    position: absolute;
    font-size: 5vw;
    margin-top: 30%;
    margin-right: 10%;
  }
  .AboutMe{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    background-color: #8d8d8d;
    padding-top: 2%;
    
  }
.greyHr {
  border: none;
  border-top: 3px solid #363636;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin-top: 2%;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.greyHr2 {
  border: none;
  border-top: 3px solid #797979;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin-top: 2%;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.aboutTitle{
  width: 50%;
  text-align: center;
  color: #dd4f1b;
  font-size: 3rem;
  margin: 0;
  margin-top: 4rem;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.knowMe{
  width: 42%;
  padding: 4%;
  font-size: 2rem;
  margin: 0;
  color: #3d3a3a;
}
.skills{
  width: 45%;
  text-align: center;
  padding: 2%;
}
.greyHr:after{
   background: #8d8d8d;
  content: "About Me";
  color: #dd4f1b;
  font-weight: bolder;
  font-size: 3rem;
  padding: 0 4px;
  position: relative;
  top: -2.5rem;
}
.logo{
  background-color: #bababa;
  font-size: 2rem;
  color: #3d3a3a;
  border-radius: 5px;
  padding: 2%;
  width: fit-content;
  margin: 3%;
  height: fit-content;
}
.logoContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 45%;
  padding: 2%;
  height:fit-content;
}
.aboutDescription{
  display:flex;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
  color: #3d3a3a;

}
.contactBtn{ 
  background-color: orangered;
  color: #fff;
  font-size: 1.5rem;
  width: fit-content;
  border-radius: 5px;
  margin-left: 18rem;
  margin-bottom: 3%;
}
.project{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff2c;
}
.projectTitle{
  font-size: 3rem;
  
}
.orangeSeparator{
  background-color: #dd4f1b;
  height: 0.5rem;
  width: 10%;
  border-radius: 5px;
}
.projectContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.projectImg{
  width: 50%;
}
.projectDetails{
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;

}
.projectTitle{
  color: #dd4f1b;
  font-size: 4rem;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.projectDescription{
  width: 100%;
  font-size: 2rem;
  color: #b9b9b9;
}

